In [228]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'gender_submission.csv', 'test.csv']

In [229]:
titanic_train = pd.read_csv("../input/train.csv")
titanic_test = pd.read_csv("../input/test.csv")

In [230]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [231]:
titanic_train.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [232]:
corr_matrix = titanic_train.corr()
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [233]:
print (titanic_train[["Sex", "Survived"]].groupby(['Sex']).mean())

        Survived
Sex
female  0.742038
male    0.188908

In [234]:
embark = {'C':0, 'Q':1, 'S':2}
titanic_train['Embarked'] = titanic_train['Embarked'].map(embark)
print (titanic_train[["Embarked", "Survived"]].groupby(['Embarked'], as_index=False).mean())

   Embarked  Survived
0       0.0  0.553571
1       1.0  0.389610
2       2.0  0.336957

In [235]:
titanic_train["FareCat"] = pd.cut(titanic_train["Fare"],4)
median = titanic_train["Age"].median()
titanic_train["Age"].fillna(median,inplace=True)
titanic_train["AgeCat"] = pd.cut(titanic_train["Age"],10)

In [236]:
print (titanic_train[["FareCat", "Survived"]].groupby(['FareCat'], as_index=False).mean())

              FareCat  Survived
0   (-0.512, 128.082]  0.368113
1  (128.082, 256.165]  0.724138
2  (256.165, 384.247]  0.666667
3  (384.247, 512.329]  1.000000

In [237]:
titanic_train.loc[(titanic_train['Fare']>-0.512)&(titanic_train['Fare']<=128.082),'Fare'] = 0
titanic_train.loc[(titanic_train['Fare']>128.082)&(titanic_train['Fare']<=256.165),'Fare'] = 1
titanic_train.loc[(titanic_train['Fare']>256.165)&(titanic_train['Fare']<=384.247),'Fare'] = 2
titanic_train.loc[(titanic_train['Fare']>384.247)&(titanic_train['Fare']<=512.3292),'Fare'] = 3
print (titanic_train[["Fare", "Survived"]].groupby(['Fare'], as_index=False).mean())

   Fare  Survived
0   0.0  0.368113
1   1.0  0.724138
2   2.0  0.666667
3   3.0  1.000000

In [238]:
print (titanic_train[["AgeCat", "Survived"]].groupby(['AgeCat'], as_index=False).mean())

             AgeCat  Survived
0     (0.34, 8.378]  0.666667
1   (8.378, 16.336]  0.413043
2  (16.336, 24.294]  0.355932
3  (24.294, 32.252]  0.338150
4   (32.252, 40.21]  0.440678
5   (40.21, 48.168]  0.342857
6  (48.168, 56.126]  0.466667
7  (56.126, 64.084]  0.375000
8  (64.084, 72.042]  0.000000
9    (72.042, 80.0]  0.500000

In [239]:
titanic_train.loc[(titanic_train['Age']>0.34)&(titanic_train['Age']<=8.378),'Age'] = 0
titanic_train.loc[(titanic_train['Age']>8.378)&(titanic_train['Age']<=16.336),'Age'] = 1
titanic_train.loc[(titanic_train['Age']>16.336)&(titanic_train['Age']<=24.294),'Age'] = 2
titanic_train.loc[(titanic_train['Age']>24.294)&(titanic_train['Age']<=32.252),'Age'] = 3
titanic_train.loc[(titanic_train['Age']>32.252)&(titanic_train['Age']<=40.21),'Age'] = 4
titanic_train.loc[(titanic_train['Age']>40.21)&(titanic_train['Age']<=48.168),'Age'] = 5
titanic_train.loc[(titanic_train['Age']>48.168)&(titanic_train['Age']<=56.126),'Age'] = 6
titanic_train.loc[(titanic_train['Age']>56.126)&(titanic_train['Age']<=64.084),'Age'] = 7
titanic_train.loc[(titanic_train['Age']>64.084)&(titanic_train['Age']<=72.042),'Age'] = 8
titanic_train.loc[(titanic_train['Age']>72.042)&(titanic_train['Age']<=80.0),'Age'] = 9
print (titanic_train[["Age", "Survived"]].groupby(['Age'], as_index=False).mean())

   Age  Survived
0  0.0  0.666667
1  1.0  0.413043
2  2.0  0.355932
3  3.0  0.338150
4  4.0  0.440678
5  5.0  0.342857
6  6.0  0.466667
7  7.0  0.375000
8  8.0  0.000000
9  9.0  0.500000

In [240]:
titanic_train.loc[titanic_train['Sex']=="male",'Gender'] = 0
titanic_train.loc[titanic_train['Sex'] == "female", 'Gender'] = 1
print (titanic_train[["Gender", "Survived"]].groupby(['Gender'], as_index=False).mean())

   Gender  Survived
0     0.0  0.188908
1     1.0  0.742038

In [241]:
titanic_train.head()

   PassengerId  Survived  ...              AgeCat Gender
0            1         0  ...    (16.336, 24.294]    0.0
1            2         1  ...     (32.252, 40.21]    1.0
2            3         1  ...    (24.294, 32.252]    1.0
3            4         1  ...     (32.252, 40.21]    1.0
4            5         0  ...     (32.252, 40.21]    0.0

[5 rows x 15 columns]

In [242]:
titanic_train = titanic_train.drop(["PassengerId","Name","Sex","AgeCat","Ticket","FareCat","Cabin"], axis=1)

In [243]:
print (titanic_train[["Fare", "Survived"]].groupby(['Fare'], as_index=False).mean())

   Fare  Survived
0   0.0  0.368113
1   1.0  0.724138
2   2.0  0.666667
3   3.0  1.000000

In [252]:
from sklearn.tree import DecisionTreeClassifier

titanic_train = titanic_train.dropna(subset=["Pclass","Age","SibSp","Parch","Fare","Embarked","Gender"])
titanic_label = titanic_train["Survived"]
titanic_data = titanic_train.drop("Survived",axis=1)
tree_clas = DecisionTreeClassifier()
tree_clas.fit(titanic_data,titanic_label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [255]:
from sklearn.metrics import mean_squared_error

survival_prediction = tree_clas.predict(titanic_data)
tree_mse = mean_squared_error(titanic_label, survival_prediction)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

0.34854671766952594