In [703]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
# print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [704]:
titanic_train = pd.read_csv("train.csv")
titanic_test = pd.read_csv("test.csv")
titanic_tcopy = titanic_test.copy()

In [705]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [706]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [707]:
# from sklearn.preprocessing import OneHotEncoder
# onehotencoder = OneHotEncoder(categorical_features = 'all')
# titanic_train = onehotencoder.fit_transform(titanic_train).toarray()
corr_matrix = titanic_train.corr()
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [708]:
print (titanic_train[["Sex", "Survived"]].groupby(['Sex']).mean())

        Survived
Sex
female  0.742038
male    0.188908

In [709]:
titanic_train['Family'] = titanic_train['SibSp']+titanic_train['Parch']
titanic_train.loc[(titanic_train['Family']<=3),'Family'] = 0
titanic_train.loc[(titanic_train['Family']>3),'Family'] = 1
titanic_tcopy['Family'] = titanic_tcopy['SibSp']+titanic_tcopy['Parch']
titanic_tcopy.loc[(titanic_tcopy['Family']<=3),'Family'] = 0
titanic_tcopy.loc[(titanic_tcopy['Family']>3),'Family'] = 1
print (titanic_train[["Family", "Survived"]].groupby(['Family']).mean())
corr_matrix = titanic_train.corr()
corr_matrix["Survived"].sort_values(ascending=False)

        Survived
Family
0       0.400483
1       0.161290

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Family        -0.125147
Pclass        -0.338481
Name: Survived, dtype: float64

In [710]:
embark = {'C':0, 'Q':1, 'S':2}
titanic_train['Embarked'] = titanic_train['Embarked'].map(embark)
titanic_tcopy['Embarked'] = titanic_tcopy['Embarked'].map(embark)
print (titanic_train[["Embarked", "Survived"]].groupby(['Embarked'], as_index=False).mean())

   Embarked  Survived
0       0.0  0.553571
1       1.0  0.389610
2       2.0  0.336957

In [711]:
titanic_train["FareCat"] = pd.cut(titanic_train["Fare"],4)
median = titanic_train["Age"].median()
titanic_train["Age"].fillna(median,inplace=True)
titanic_train["AgeCat"] = pd.cut(titanic_train["Age"],5)

In [712]:
print (titanic_train[["FareCat", "Survived"]].groupby(['FareCat'], as_index=False).mean())

               FareCat  Survived
0   (-0.512, 128.0823]  0.368113
1  (128.0823, 256.165]  0.724138
2   (256.165, 384.247]  0.666667
3   (384.247, 512.329]  1.000000

In [713]:
titanic_train.loc[(titanic_train['Fare']>-0.512)&(titanic_train['Fare']<=128.082),'Fare'] = 0
titanic_train.loc[(titanic_train['Fare']>128.082)&(titanic_train['Fare']<=256.165),'Fare'] = 2
titanic_train.loc[(titanic_train['Fare']>256.165)&(titanic_train['Fare']<=384.247),'Fare'] = 1
titanic_train.loc[(titanic_train['Fare']>384.247)&(titanic_train['Fare']<=512.3292),'Fare'] = 3

titanic_tcopy.loc[(titanic_tcopy['Fare']>-0.512)&(titanic_tcopy['Fare']<=128.082),'Fare'] = 0
titanic_tcopy.loc[(titanic_tcopy['Fare']>128.082)&(titanic_tcopy['Fare']<=256.165),'Fare'] = 2
titanic_tcopy.loc[(titanic_tcopy['Fare']>256.165)&(titanic_tcopy['Fare']<=384.247),'Fare'] = 1
titanic_tcopy.loc[(titanic_tcopy['Fare']>384.247)&(titanic_tcopy['Fare']<=512.3292),'Fare'] = 3
print (titanic_train[["Fare", "Survived"]].groupby(['Fare'], as_index=False).mean())

   Fare  Survived
0   0.0  0.368113
1   1.0  0.666667
2   2.0  0.724138
3   3.0  1.000000

In [714]:
print (titanic_train[["AgeCat", "Survived"]].groupby(['AgeCat'], as_index=False).mean())

             AgeCat  Survived
0    (0.34, 16.336]  0.550000
1  (16.336, 32.252]  0.344168
2  (32.252, 48.168]  0.404255
3  (48.168, 64.084]  0.434783
4      (64.084, 80]  0.090909

In [715]:
titanic_train.loc[(titanic_train['Age']>0.34)&(titanic_train['Age']<=16.336),'Age'] = 4
titanic_train.loc[(titanic_train['Age']>16.336)&(titanic_train['Age']<=32.252),'Age'] = 1
titanic_train.loc[(titanic_train['Age']>32.252)&(titanic_train['Age']<=48.168),'Age'] = 3
titanic_train.loc[(titanic_train['Age']>48.168)&(titanic_train['Age']<=64.084),'Age'] = 2
titanic_train.loc[(titanic_train['Age']>64.084)&(titanic_train['Age']<=80),'Age'] = 0
# titanic_train.loc[(titanic_train['Age']>40.21)&(titanic_train['Age']<=48.168),'Age'] = 5
# titanic_train.loc[(titanic_train['Age']>48.168)&(titanic_train['Age']<=56.126),'Age'] = 6
# titanic_train.loc[(titanic_train['Age']>56.126)&(titanic_train['Age']<=64.084),'Age'] = 7
# titanic_train.loc[(titanic_train['Age']>64.084)&(titanic_train['Age']<=72.042),'Age'] = 8
# titanic_train.loc[(titanic_train['Age']>72.042)&(titanic_train['Age']<=80.0),'Age'] = 9

titanic_tcopy.loc[(titanic_tcopy['Age']>0.34)&(titanic_tcopy['Age']<=16.336),'Age'] = 4
titanic_tcopy.loc[(titanic_tcopy['Age']>16.336)&(titanic_tcopy['Age']<=32.252),'Age'] = 1
titanic_tcopy.loc[(titanic_tcopy['Age']>32.252)&(titanic_tcopy['Age']<=48.168),'Age'] = 3
titanic_tcopy.loc[(titanic_tcopy['Age']>48.168)&(titanic_tcopy['Age']<=64.084),'Age'] = 2
titanic_tcopy.loc[(titanic_tcopy['Age']>64.084)&(titanic_tcopy['Age']<=80),'Age'] = 0
# titanic_tcopy.loc[(titanic_tcopy['Age']>40.21)&(titanic_tcopy['Age']<=48.168),'Age'] = 5
# titanic_tcopy.loc[(titanic_tcopy['Age']>48.168)&(titanic_tcopy['Age']<=56.126),'Age'] = 6
# titanic_tcopy.loc[(titanic_tcopy['Age']>56.126)&(titanic_tcopy['Age']<=64.084),'Age'] = 7
# titanic_tcopy.loc[(titanic_tcopy['Age']>64.084)&(titanic_tcopy['Age']<=72.042),'Age'] = 8
# titanic_tcopy.loc[(titanic_tcopy['Age']>72.042)&(titanic_tcopy['Age']<=80.0),'Age'] = 9

print (titanic_train[["Age", "Survived"]].groupby(['Age'], as_index=False).mean())

   Age  Survived
0  0.0  0.090909
1  1.0  0.344168
2  2.0  0.434783
3  3.0  0.404255
4  4.0  0.550000

In [716]:
titanic_train.loc[titanic_train['Sex']=="male",'Gender'] = 0
titanic_train.loc[titanic_train['Sex'] == "female", 'Gender'] = 1

titanic_tcopy.loc[titanic_tcopy['Sex']=="male",'Gender'] = 0
titanic_tcopy.loc[titanic_tcopy['Sex'] == "female", 'Gender'] = 1
print (titanic_train[["Gender", "Survived"]].groupby(['Gender'], as_index=False).mean())

   Gender  Survived
0     0.0  0.188908
1     1.0  0.742038

In [717]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,FareCat,AgeCat,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,1.0,1,0,A/5 21171,0.0,NaN,2.0,0,"(-0.512, 128.0823]","(16.336, 32.252]",0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,3.0,1,0,PC 17599,0.0,C85,0.0,0,"(-0.512, 128.0823]","(32.252, 48.168]",1.0
2,3,1,3,"Heikkinen, Miss. Laina",female,1.0,0,0,STON/O2. 3101282,0.0,NaN,2.0,0,"(-0.512, 128.0823]","(16.336, 32.252]",1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,3.0,1,0,113803,0.0,C123,2.0,0,"(-0.512, 128.0823]","(32.252, 48.168]",1.0
4,5,0,3,"Allen, Mr. William Henry",male,3.0,0,0,373450,0.0,NaN,2.0,0,"(-0.512, 128.0823]","(32.252, 48.168]",0.0

In [718]:
titanic_train = titanic_train.drop(["PassengerId","Name","Sex","AgeCat","Ticket","FareCat","Cabin","SibSp","Parch"], axis=1)
titanic_tcopy1= titanic_tcopy.copy()
titanic_tcopy = titanic_tcopy.drop(["PassengerId","Name","Sex","Ticket","Cabin","SibSp","Parch"], axis=1)

In [719]:
print (titanic_train[["Fare", "Survived"]].groupby(['Fare'], as_index=False).mean())
corr_matrix = titanic_train.corr()
corr_matrix["Survived"].sort_values(ascending=False)

   Fare  Survived
0   0.0  0.368113
1   1.0  0.666667
2   2.0  0.724138
3   3.0  1.000000

Survived    1.000000
Gender      0.543351
Fare        0.155411
Age         0.131847
Family     -0.125147
Embarked   -0.169718
Pclass     -0.338481
Name: Survived, dtype: float64

In [720]:
from sklearn.tree import DecisionTreeClassifier

titanic_train.fillna({"Pclass":3,"Age":titanic_train['Age'].median(),"SibSp":0,"Parch":0,"Fare":titanic_train['Fare'].median(),"Embarked":0,"Gender":0},inplace=True)
titanic_tcopy.fillna({"Pclass":3,"Age":titanic_train['Age'].median(),"SibSp":0,"Parch":0,"Fare":titanic_train['Fare'].median(),"Embarked":0,"Gender":0},inplace=True)
# titanic_tcopy1 = titanic_tcopy1.dropna(subset=["Pclass","Age","SibSp","Parch","Fare","Embarked","Gender"])
titanic_label = titanic_train["Survived"]
titanic_data = titanic_train.drop("Survived",axis=1)
tree_clas = DecisionTreeClassifier()
tree_clas.fit(titanic_data,titanic_label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [721]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.svm import SVC

rf_clas = RandomForestClassifier(
    n_estimators=200,
    max_depth=15)
# rf_clas = GradientBoostingClassifier()
rf_clas = SVC(probability=True, C=3, gamma=0.6)
rf_clas.fit(titanic_data, titanic_label)

SVC(C=3, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=0.6, kernel='rbf',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [722]:
from sklearn.metrics import mean_squared_error,accuracy_score

survival_prediction = tree_clas.predict(titanic_data)
tree_mse = mean_squared_error(titanic_label, survival_prediction)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

0.40893499959590224

In [723]:
survival_pred = rf_clas.predict(titanic_data)
rf_mse = mean_squared_error(titanic_label, survival_pred)
rf_rmse = np.sqrt(rf_mse)
accuracy_score(titanic_label,survival_pred)

0.83164983164983164

In [724]:
survivors = tree_clas.predict(titanic_tcopy)
submission = pd.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": survivors
    })
submission.to_csv('submission.csv', index=False)